.item-detail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-detail-image-container {
    display: flex;
    justify-content: center;
}

.item-detail-title-container {
    word-wrap: break-word;
}

.item-detail-title {
    text-align: center;
}

.grey-line {
    width: 100%;
    border-top: 1px solid var(--secondary-bkg-color);
}

.item-detail-category-size-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-measurements {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.bottom-button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
}

.measurement-label-value-container {
    display: flex;
    justify-content: space-between;
}