.item-image-container {
  height: 100%;
  width: 100%;
  transition: background-color 0.2s ease;
}

.image-replacement {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bkg-color);
  font-weight: bold;
  height: 100%;
  width: 100%;
  transition: background-color 0.2s ease;
}

.active-card.image-replacement {
  background-color: var(--primary-bkg-color);
}
