.menu-container {
    position: absolute;
    z-index: 1;
    background-color: var(--primary-bkg-color);
    height: 100%;
    width: 100%;
}

.slide-in {
    left: -100%;
    animation: slide-in 0.2s forwards;
}

.slide-out {
    left: 0%;
    animation: slide-out 0.2s forwards;
}


@keyframes slide-in {
    100% {
        left: 0;
    }
}

@keyframes slide-out {
    100% {
        left: -100%;
    }
}