.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.import-error {
    margin-top: -10px;
}