.measurement-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.measurement-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}