.edit-container {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.edit-category-size-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* .edit-input-row {
    display: flex;
    align-items: center;
    gap: 5px;
} */