.category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.size-item {
    display: flex;
    gap: 5px;
    color: blue;
    flex-wrap: wrap;
}

.category-row-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-bottom: 10px;

    max-height: 0px;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.checkbox-container.show {
    padding-top: 10px;
    max-height: 500px;
    visibility: visible;
}

.category-grey-line {
    border-bottom: 1px solid rgb(194, 194, 194);
}

.checkbox-medium {
    width: 20px;
    height: 20px;
}