#edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-row input {
    width: 100%;
}

.form .edit-input-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.edit-grey-line {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid var(--secondary-bkg-color);
}

.edit-input-row input {
    height: 15px;
    width: 45px;
    margin-right: 5px;
}

.edit-measurement-container {
    padding-top: 5px;
}