.item-card {
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.title-hover {
    position: absolute;
    bottom: 0;
    width: 130px;
    height: 0px;
    padding: 10px;
    background-color: var(--primary-bkg-color);
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease;
}

.title-hover.show {
    height: 60%;
    visibility: visible;
}

.darken-image {
    filter: brightness(70%);
    transition: all 0.2s ease;
}

.active-tag {
    position: absolute;
    top: 5px;
    left: 5px;

    visibility: hidden;
    padding: 2px 5px 2px 5px;

    background-color: var(--primary-button-bkg);
    color: var(--secondary-text-color);
}

.active-tag.show {
    visibility: visible;
}