.modal-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: var(--primary-bkg-color);
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}