.item-modal-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 360px;
    height: 460px;
    padding: 20px;

    background-color: var(--primary-bkg-color);

}