.add-container {
    height: 100%;
    position: relative;
}

.measurement-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;

}

.unit-input-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.unit-input-row input {
    height: 20px;
    width: 50px;
    margin-right: 5px;
}

form label {
    font-size: 0.9rem;
    font-weight: bold;
}

.category {
    height: 25px;
}

.image-preview-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.submit-button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}