.measurement-container {
    padding-top: 5px;
}

.unit-input-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.unit-input-row input {
    height: 20px;
    width: 45px;
}

.category {
    height: 25px;
}

.submit-button {

    margin-top: 15px;
}