.item-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    grid-gap: 20px;
    z-index: 0;
    padding-bottom: 20px;
}

.filter-container {
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease;
}

.filter-container.slide-down {
    height: 40px;
}