.active-card {
    padding: 10px;
    background-color: var(--secondary-bkg-color);
    cursor: pointer;
}

.active-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.active-image-container {
    width: 50px;
    height: 50px;
}

.active-image-container {
    width: 50px;
    height: 50px;
}

.active-image-container>.item-image-container>.image-replacement {
    background-color: var(--primary-bkg-color);
}

.active-title {
    max-width: 235px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.active-details {
    max-height: 0px;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.active-measurement-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.active-details.show {
    max-height: 160px;
    visibility: visible;
}

.active-button-row {
    text-align: right;
}