.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 10px;
}

.nav-bar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--primary-text-color);
    border-top: 1px solid var(--primary-text-color);
}

.nav-bar li:first-child {
    border-right: 1px solid var(--primary-text-color);
}

.nav-bar-links {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5px 10px 5px 10px;
    background-color: var(--primary-bkg-color);
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    border: none;
}

.menu-icon.position-left {
    margin-left: 10px;
    left: 0;
}

.menu-icon.position-right {
    margin-right: 10px;
    right: 0;
}

.small-icon {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.menu-icon:hover,
.nav-bar-links:hover {
    background-color: var(--secondary-bkg-color);
}