.header {
    color: var(--primary-text-color);
}

.header-row {
    padding: 5px;

    text-align: center;
}

.header-title {
    font-size: 1.2rem;
    font-weight: normal;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--primary-text-color);
    border-top: 1px solid var(--primary-text-color);
}

.nav-bar li:first-child {
    border-right: 1px solid var(--primary-text-color);
}

.nav-bar a {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-bar li:hover {
    background-color: var(--secondary-bkg-color);
}

.nav-bar .active {
    text-decoration: underline;
}