.item-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 360px;
    width: 280px;
    padding: 20px;
    background-color: var(--primary-bkg-color);
}

.item-info {
    font-size: 0.7rem;
}

.large-thumbnail {
    object-fit: cover;
    width: 180px;
    height: 180px;
}

.modal-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7rem;
}

.grey-line {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--secondary-bkg-color);
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.item-category {
    width: 100%;
    position: absolute;
    text-align: center;
}

.item-measurements {
    padding-top: 15px;
}

.button-container {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    gap: 15px;
}