.item-card {
    position: relative;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
}

.title-hover {
    height: 80%;
    padding: 10px;
    font-size: 0.8rem;
    position: absolute;
    visibility: hidden;
    bottom: 0;
    background-color: var(--primary-bkg-color);
}

.large-thumbnail {
    object-fit: cover;
    width: 120px;
    height: 120px;
}