.item-card {
    position: relative;
    cursor: pointer;
    border: 1px solid var(--primary-text-color);
}

.title-hover {
    height: 0px;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    bottom: 0;
    background-color: var(--primary-bkg-color);
    transition: all 0.2s ease;
}

.title-hover.hover-show {
    height: 60%;
    visibility: visible;
}

.medium-thumbnail {
    object-fit: cover;
    width: 120px;
    height: 120px;
}

.darken-image {
    filter: brightness(70%);
    transition: all 0.2s ease;
}