/* CONTAINERS */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 17px;
  position: relative;
  overflow-y: auto;
}

/* TEXT */

.text-small {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-large {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.black-text {
  color: var(--primary-text-color);
}

.white-text {
  color: var(--secondary-text-color);
}

.text-center {
  text-align: center;
}

/* GENERAL */
a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.pre {
  white-space: pre;
}

/* COMPONENTS*/
.sub-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  position: relative;
}

.sub-row .position-right {
  position: absolute;
  right: 0;
}

.sub-row .position-left {
  position: absolute;
  left: 0;
}

/* BUTTONS */
.primary-button {
  border: none;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  color: var(--secondary-text-color);
  background-color: var(--primary-button-bkg);
}

.primary-button:hover {
  background-color: var(--primary-button-bkg-hover);
}

.secondary-button-color {
  color: var(--primary-text-color);
  background-color: var(--secondary-button-bkg);
  transition: background-color 0.15s ease;
}

.secondary-button-color:hover {
  background-color: var(--secondary-button-bkg-hover);
}

.inactive-button-color {
  color: black;
  background-color: rgb(207, 207, 207);
  transition: background-color 0.15s ease;
}

.inactive-button-color:hover {
  background-color: rgb(196, 196, 196);
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-icon {
  width: 12px;
  height: 12px;
}

.deactivate {
  cursor: pointer;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background-color: var(--secondary-button-bkg);
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.back-button:hover {
  background-color: var(--secondary-bkg-color);
}

.black-border {
  border: 1px solid black;
}

.error-text {
  display: block;
  color: var(--error-text);
}

.error-border {
  border-color: var(--error-border);
}

.error-border:focus {
  outline: none !important;
  border-color: var(--error-border);
}

.submit-button {
  width: 100%;
}

/* IMAGES */
.full-cover-thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.medium-thumbnail {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.large-thumbnail {
  object-fit: cover;
  width: 180px;
  height: 180px;
  position: relative;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: rgb(167, 167, 167);
  }

  100% {
    background-color: lightgrey;
  }
}
