/*Containers*/
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container {
    height: 100%;
    padding: 0px 25px 0px 25px;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

.measurement-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.inner-container {
    position: relative;
    padding: 20px 20px 20px 20px;
}

/*Colors*/
.black-text {
    color: var(--primary-text-color);
}

.white-text {
    color: var(--secondary-text-color);
}

/*Text sizes*/
.header-medium {
    font-size: 22px;
}

.text-large {
    font-size: 18px;
}

.text-medium {
    font-size: 16px;
    font-weight: normal;
}

.text-normal {
    font-size: 14px;
    font-weight: normal;
}

.text-small {
    font-size: 12px;
}

.bold-text {
    font-weight: bold;
}

/*Components*/
a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.image-replacement {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bkg-color);
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.image-replacement.image-replacement-active-card {
    background-color: var(--primary-bkg-color);
}

.sub-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
}

.sub-row .position-right {
    position: absolute;
    right: 0;
}


.sub-row .position-left {
    position: absolute;
    left: 0;
}

.item-counter {
    color: var(--primary-text-color);
}

.item-counter-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.measurement-label {
    width: 150px;
}

.measurement-value {
    display: flex;
    width: 50%;
    gap: 10px;
}

.measurement-value-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}


.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.pre {
    white-space: pre;
}

/*Buttons*/
.primary-button {
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--secondary-text-color);
    background-color: var(--primary-button-bkg);
}

.primary-button:hover {
    background-color: var(--primary-button-bkg-hover);
}

.secondary-button-color {
    color: var(--primary-text-color);
    background-color: var(--secondary-button-bkg);
}

.secondary-button-color:hover {
    background-color: var(--secondary-button-bkg-hover);
}

.inactive-button-color {
    color: black;
    background-color: rgb(207, 207, 207);
}

.inactive-button-color:hover {
    background-color: rgb(196, 196, 196);
}

.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button-icon {
    width: 12px;
    height: 12px;
}

.deactivate {
    cursor: pointer;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;
    border: none;
    font-size: 16px;
    background-color: var(--primary-bkg-color);

    cursor: pointer;
    transition: 0.2s;
}

.back-button:hover {
    background-color: var(--secondary-bkg-color);
}

.black-border {
    border: 1px solid black;
}

.high-z-index {
    z-index: 3;
}

.error-text {
    color: var(--error-text);
}

.error-border {
    border-color: var(--error-border);
}

.error-border:focus {
    outline: none !important;
    border-color: var(--error-border);
}

.submit-button {
    width: 100%;
}

/*Images*/
.mini-thumbnail {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.medium-thumbnail {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.large-thumbnail {
    object-fit: cover;
    width: 180px;
    height: 180px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s linear infinite;
}